/* fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* variables */
:root {
    --SoftRed: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    --DarkBrown: hsl(25, 47%, 15%);
    --MediumBrown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --paleOrange: hsl(33, 100%, 98%);
    --largeSpacing: 2rem; 
    --smallSpacing: 1rem; 
    --largeBorderRadius: 25px;
    --smallBorderRadius: 15px; 
}

/* reset template */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    font-weight: normal;
}

p {
    text-wrap: pretty; 
    max-width: 75ch;
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

img,
picture,
svg,
video {
    max-width: 100%;
    display: block; 
    height: auto; 
}

button,
input,
form {
    font: inherit;
}

body {
    background-color: var(--paleOrange);
}

.container {
    display: grid;
    place-items: center;
    margin-top: 3rem;
}

/* header */
.balanceContainer {
    background: var(--SoftRed);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    padding: var(--largeSpacing);
    border-radius: var(--largeBorderRadius);
}

.